.theme-hue-slider-shell {
    background: oklch(0.8 0.1 0);
}

.dark .theme-hue-slider-shell {
    background: oklch(0.7 0.1 0);
}

.theme-hue-value {
    background: var(--btn-regular-bg);
    color: var(--btn-content);
}

.theme-hue-slider {
    -webkit-appearance: none;
    appearance: none;
    background-image: var(--color-selection-bar);
    transition: background-image 0.15s ease-in-out;
}

.theme-hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.55rem;
    height: 1rem;
    border-radius: 0.15rem;
    background: rgba(255, 255, 255, 0.8);
}

.theme-hue-slider::-moz-range-thumb {
    width: 0.55rem;
    height: 1rem;
    border: 0;
    border-radius: 0.15rem;
    background: rgba(255, 255, 255, 0.8);
}
